.skillSection {
  background-color: black;
}

.skillSectionHeader {
  text-align: center;
  font-size: 35px;
  color: #fff;
}

.skillSectionHeader span {
  color: #ffd700;
}

.skillList1 {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  width: 50%;
}

.skillList2 {
  display: flex;
  flex-direction: column;
  /* Adjust the left margin as needed */
}

.skill {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.skillName {
  margin-bottom: 5px;
  font-weight: 200;
  font-size: 22px;
  color: #ffd700;
}

.progressContainer {
  width: 80%;
  height: 5px;
  background-color: #ccc;
  border-radius: 5px;
}

.progressBar {
  height: 100%;
  background-color: #ffd700;
  border-radius: 5px;
}

.skillHeading1 {
  text-align: center;
  text-decoration: underline;
  margin-right: 30px;
  color: #fff;
}

.skillHeading2 {
  text-align: center;
  text-decoration: underline;
  margin-right: 30px;
  color: #fff;
}

.interpersonalSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.interpersonalSkill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.skillName {
  margin-top: 5px;
}

.circleProgressBar {
  width: 125px;
  height: 125px;
}

.progressBg {
  fill: none;
  stroke: #ccc;
  stroke-width: 8;
}

.progressFill {
  fill: none;
  stroke: #ffd700;
  stroke-width: 8;
  stroke-dasharray: 2 * 3.14 * 40;
  stroke-dashoffset: calc(2 * 3.14 * 40);
  animation: fillAnimation 1s ease forwards;
}

@keyframes fillAnimation {
  from {
    stroke-dashoffset: 2 * 3.14 * 40;
  }
  to {
    stroke-dashoffset: calc(
      2 * 3.14 * 40 - (var(--percentage) / 100) * (2 * 3.14 * 40)
    );
  }
}

.totalSkills {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 0;
}

.skillsSectionDivider {
  border: none;
  border-top: 3px solid #9d761d; /* Example color and width */
  margin-bottom: 40px;
  width: 600px;
}

@media (max-width: 1080px) {
  .totalSkills {
    display: flex;
    flex-direction: column;
  }

  .skillHeading1 {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .skillHeading2 {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .progressContainer {
    width: 100%;
  }

  .skillsSectionDivider {
    width: 80%;
  }

  .skillList1 {
    margin: 0;
  }

  .skillList2 {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .circleProgressBar {
    width: 100px;
    height: 100px;
  }

  .skillName {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .circleProgressBar {
    width: 80px;
    height: 80px;
  }

  .progressContainer {
    width: 125%;
  }

  .skillsSectionDivider {
    width: 70%;
  }

  .skillList1 {
    margin: 0;
    padding-right: 40px;
  }

  .skillList2 {
    margin: 0;
  }

  .interpersonalSkill .skillName {
    font-size: 16px;
  }
}
